<h1>Hello, {{username}}</h1>
<h2>Your TODO list</h2>
<form>
    <ul> {{! Unordered list }}
        <li>Some item <input type="submit" value="Delete"</li> {{! List item }}
        <li>Some item <input type="submit" value="Delete"</li>
        <li>Some item <input type="submit" value="Delete"</li>

    </ul>
</form>

<form>
    <input placeholder="Add item">
    <input type="submit" value="Add">
</form>
<br>
<form>
    <input type="submit" value="Logout">
</form>