{{!-- <h1>{{title}}</h1>
<p> hi friends  </p> --}}

<h1>{{title}}</h1>
<form method="post">
    <input name="username" placeholder="Enter username">
    <br>
    <input name="password" placeholder="Enter password" type = "password">
    <br>
    <input name="login" value="Log in" type="submit">
    <input name="register" value="Register" type="submit">
</form>