{{!-- <h1>{{title}}</h1>
<p> hi jose  </p> --}}

<h1>LOGIN</h1>
<form>
    <input placeholder="Enter username">
    <br>
    <input placeholder="Enter password" type = "password">
    <br>
    <input value="Log in" type="submit">
    <input value="Register" type="submit">
</form>