* {
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbox {
  border: 0;
  outline: 0;
  background-color: rgb(221, 221, 221);
  padding: 10px;
  width: 300px;
  box-sizing: border-box; /* aligns elements*/
  margin-top: 5px;
}


input[type = 'submit'] { 
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  transition-duration: 0.4s;
  width: 300px;
  margin-top: 15px;
}

button { 
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  transition-duration: 0.4s;
  width: 300px;
  margin-bottom: 10px;
  margin: auto;
}


input[type = 'submit']:hover, button:hover { /*type from html*/
  background-color: darkgray;
}

.radioInput{
  margin: 0.4rem;
}

.loginDiv {
  min-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  width: 150%;
  display: flex;
  box-shadow: 0 0 10px #eee;
  background-color: white;
  margin-bottom: 5px;
  border: 1px solid #eee;

  transition: all 100ms; /*properties and time*/
}

li:hover { /*applies to li on hover action*/
  transform: scale(1.05);
}

li button { /*element within element*/
  background-color: rgb(12, 12, 12);
  color: white;
  border: 0;
  outline: 0;
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.item-text { /*dot denotes class*/
  width: 100%;
  padding: 10px;
  font-size:x-large;
  font-weight: bold;
}

h1 {
  text-align: center;
}
h3 {
  text-align: left;
}

